
.Head_Line {
  width: 230px;
  height: 50px;
  margin: auto;
  padding: 25px;
  display: flex;
}

.Main {
  background-color: darkgray;
  height :100vh;
}

.App {
  background-color: green;
  max-width: 350px;
  height: 250px;
  margin: 20px;
  border: 2px solid black;
}


